.delete {
    color: red;
    cursor: pointer;
}

.delete:hover {
    color: rgb(137, 23, 23);
}

.card {
    border: none;
}

.card-body {
    position: relative;
}

.card-title {
    position: absolute;
    top: -50px;
    left: 30px;
    font-size: 20px;
    width: 95%;
    color: white;

}