<div class="stickyPosition">
  <div class="">
    <div class="border-bottom p-2">
      <h5> Discover more of what matters to you </h5>
      <div class="content-buttons">
        <button *ngFor="let topic of topics" class="btn rounded-pill my-3 me-2" routerLink="/TopicPage">{{topic.name}}
        </button>
      </div>
      <div class="mb-4"><a class="see-more fw-medium" routerLink="/AllTopics">See more topics</a></div>
    </div>

    <div class="follow mt-4 p-2" [hidden]="!isUserLogged">
      <h6>Who to follow</h6>
      <div class="flex-column  d-flex flex-sm-row  mt-3" *ngFor="let publisher of publishers">
        <div class="profile mb-1 d-flex">
          <div>
            <a routerLink="/UserProfile">
              <img src="{{apiServer}}/{{publisher.photoUrl}}" alt="image-prfile" class="img-profile me-3"></a>
          </div>
          <div>
            <div>
              <h6><a routerLink="/UserProfile">{{publisher.name}}</a></h6>
              <p><a>{{publisher.bio}}</a></p>
            </div>
          </div>
        </div>
        <div>
          <button class="btn mt-2 mt-md-4  ms-3  rounded-pill" *ngIf="!publisher.isFollowing" (click)="follow(publisher.id)">
            Follow</button>
          <button class="btn mt-2 mt-md-4  ms-3  rounded-pill" *ngIf="publisher.isFollowing"
            (click)="unFollow(publisher.id)"> UnFollow</button>
        </div>
      </div>

      <div class="mb-4"><a class="see-more fw-medium" routerLink="/AllUsers">See more suggestions</a></div>
    </div>

    <div class="d-none d-md-block flex">
      <div class="content-links-footer p-2">
        <a href="">Help</a>
        <a href="" class="px-3">Status</a>
        <a href="">About</a>
        <a href="" class="px-3">Careers</a>
        <a href="">Blog</a>
        <a href="" class="px-3">Privacy</a>
        <a href="">Terms</a>
      </div>
      <div class="content-links-footer px-2">
        <a href="">Text to speech</a>
        <a href="" class="px-3">Teams</a>
      </div>
    </div>
  </div>
</div>
