.content-buttons button {
  color: var(--Hfont-color);
}

.content-buttons button {
  background-color: var(--background-button-color);
  color: var(--Hfont-color);
}

.see-more {
  color: var(--link-color);
  text-decoration: none;
}

.see-more:hover {
  color: var(--Hfont-color);
}

.content-links-footer a {
  text-decoration: none;
  color: var(--Pfont-color);
  font-weight: 500;
  display: inline-block;
}
