<div class="row stickyPosition">
  <div class=" col-12 px-4">
    <div class="border-bottom p-2">
      <h5> Discover more of what matters to you </h5>
      <div class="content-buttons">
        <button class="btn rounded-pill  m-3">Programming </button>
        <button class="btn rounded-pill m-3">Data Science </button>
        <button class="btn rounded-pill m-3">Technology </button>
        <button class="btn rounded-pill m-3">Self Improvement </button>
        <button class="btn rounded-pill m-3">Writing </button>
        <button class="btn rounded-pill m-3">Relationships </button>
        <button class="btn rounded-pill m-3">Machine Learning </button>
        <button class="btn rounded-pill m-3">Productivity </button>
        <button class="btn rounded-pill m-3">Politics </button>
      </div>
      <div class="mb-4"><a class="see-more fw-medium" routerLink="/AllTopics">See more topics</a></div>
    </div>

    <div class="follow mt-4 p-2">
      <h6>Who to follow</h6>
      <div class="flex-column  d-flex flex-sm-row  mt-3">
        <div class="profile mb-1 d-flex">
          <div>
            <a routerLink="/UserProfile">
              <img src="https://th.bing.com/th/id/OIP._6kSqsTmX5o4yeSjGnw48AHaLH?pid=ImgDet&rs=1" alt="image-prfile"
                class="img-profile me-3"></a>
          </div>
          <div>
            <div>
              <h6><a routerLink="/UserProfile">dina Aboelsoaud</a></h6>
              <p><a>My story and practical tips to help you get out of burnout</a></p>
            </div>
          </div>
        </div>
        <div>
          <button class="btn mt-2 mt-md-4  ms-3  rounded-pill"> Follow</button>
        </div>
      </div>

      <div class="mb-4"><a class="see-more fw-medium" routerLink="/AllUsers">See more suggestions</a></div>
    </div>

    <div>
      <div class="content-links-footer  p-2  ">
        <a href="">Help</a>
        <a href="" class="px-3">Status</a>
        <a href="">About</a>
        <a href="" class="px-3">Careers</a>
        <a href="">Blog</a>
        <a href="" class="px-3">Privacy</a>
        <a href="">Terms</a>
      </div>
      <div class="content-links-footer px-2">
        <a href="">Text to speech</a>
        <a href="" class="px-3">Teams</a>
      </div>
    </div>
  </div>
</div>
