.rate {
  width: 30px;
  border: none;
  background: transparent;
}

.rate:focus {
  border: none;
  outline: none;
}

.save-button-color {
  background-color: var(--buttonColor);
  width: 6rem;
  color: white;
  border: none;
  height: 2.5rem;
}
select,
input,
table {
  border: 1px solid rgb(176, 174, 174);
}
