<div class="tab-pane mt-3" id="list" role="tabpanel" aria-labelledby="list-tab">
  <div class="col-12 content-article">
    <div class="card mb-3 p-3">
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body">
            <div class="profile mb-1 d-flex">
              <a routerLink="/UserProfile">
                <img src="https://th.bing.com/th/id/OIP._6kSqsTmX5o4yeSjGnw48AHaLH?pid=ImgDet&rs=1" alt="image-prfile"
                  class="img-profile me-3"></a>
              <a routerLink="/UserProfile">dihhna Aboelsoaud</a>
            </div>
            <a routerLink="/UserProfile/SavedOnList" class="text-decoration-none">

              <h5 class="card-title font-weight-bold text-dark">Name of ReadingList</h5>

              <div class="card-text">
                <p class="text-muted">5 stories</p>
              </div>
            </a>
          </div>

        </div>

        <div class="col-md-4 d-flex">
          <a routerLink="/UserProfile/SavedOnList" class="text-decoration-none">
            <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1" class="h-100" alt="..."
              style="width: 55%;">
            <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1" class=" h-100" alt="..."
              style="width: 30%;">
            <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1" class="img-fluid  h-100"
              alt="..." style="width: 15%;">
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
