input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 0.009rem solid red;
}

input.ng-valid.ng-touched,
select.ng-valid.ng-touched {
  border: 0.009rem solid green;
}

.small-text-size {
  font-size: small;
}

.content-input-height {
  height: 6rem;
}