<div class="d-flex justify-content-center">
  <div id="dd"></div>


  <div class="shadow p-3  col-12 col-md-6  mt-5">
    <h3 class="mb-5 ">Enter Role Name</h3>
    <form class="w-100" (ngSubmit)="onSubmit()">
      <div class="inputbox w-100 mb-5">
        <input type="text" id="role" name="roleName" [(ngModel)]="roleName" required>
        <label for="role">Role</label>
      </div>
      <div class="inputbox">
        <button type="submit" class="btn btn-primary rounded-pill">Create </button>
      </div>
    </form>
  </div>

</div>