<div class="container-fluid">
  <div class="content-row row d-flex justify-content-center p-3">
    <div class="content-col col-12 pt-2 px-3">
      <div class="row justify-content-between mb-1">
        <!-- search -->
        <div class="col-4">
          <label for="search" class="form-label search-lable-width">
            بحث
          </label>
          <input type="search" id="search" class="form-control" [(ngModel)]="search" aria-label=" البحث بالاسم"
            aria-describedby="search-addon" placeholder="ابحث بإسم الموظف" (input)="onSearchChange($event)" />
        </div>
      </div>
      <div class="d-flex justify-content-end mb-1">
        <a routerLink="/admin-dashboard/employees/create" class="px-2 btn btn-success text-white border border-none">
          اضف موظف جديد <i class="fa-solid fa-plus me-2"></i>
        </a>
      </div>
      <!-- table -->
      <div class="content-table table table-responsive d-flex justify-content-center text-center">
        <table role="table" class="table table-striped table-bordered">
          <thead role="rowgroup">
            <tr role="row">
              <th role="columnheader">#</th>
              <th role="columnheader">الاسم رباعي</th>
              <th role="columnheader">الرقم القومي</th>
              <th role="columnheader">رقم التليفون</th>
              <th role="columnheader">العنوان</th>
              <th role="columnheader">الدور او الوظيفة</th>
              <th role="columnheader">الحدث</th>
            </tr>
          </thead>

          <tbody role="rowgroup">
            <tr role="row" *ngFor="
                let staff of staff
                  | paginate
                    : {
                        itemsPerPage: pageSize,
                        currentPage: currentPage,
                        totalItems: totalCount
                      };
                let i = index
              ">
              <td class="fw-bold" role="cell">
                {{ i + 1 + pageSize * (currentPage - 1) }}
              </td>
              <td role="cell" role="cell">{{ staff.name }}</td>
              <td role="cell">{{ staff.nationalId }}</td>
              <td role="cell">{{ staff.phoneNumber }}</td>
              <td role="cell">{{ staff.address }}</td>
              <td role="cell">{{ staff.jobTitle }}</td>
              <td role="cell">
                <div class="d-flex justify-content-between">
                  <div>
                    <a [routerLink]="[
                        '/admin-dashboard/employees/update',
                        staff.id
                      ]" class="h4 icon-edit">
                      <i class="fa-solid fa-pencil"></i></a>
                  </div>
                  <div>
                    <a [routerLink]="['/admin-dashboard/employees', staff.id]" class="h3 icon-details">
                      <i class="fa-solid fa-circle-info"></i></a>
                  </div>
                  <div>
                    <button type="button" class="bg-transparent border-0 h4 icon-delete" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop" (click)="setFacultyToDelete(staff.id)">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                      tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5 fw-bold modal-title-color" id="staticBackdropLabel">
                              حذف الموظف
                            </h1>
                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"
                              id="closeBtn"></button>
                          </div>
                          <div class="modal-body fs-5">
                            هل انت متأكد من حذف هذا الموظف ؟
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn button-color modal-button-width" (click)="deleteStaff()"
                              data-bs-dismiss="modal">
                              نعم
                            </button>
                            <button type="button" class="btn cancel-button-color modal-button-width"
                              data-bs-dismiss="modal">
                              لا
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="text-align: center; font-weight: bold; margin-bottom: 0">
        <pagination-controls (click)="onPaginationChange(currentPage)" (pageChange)="currentPage = $event"
          previousLabel="السابق" nextLabel="التالى"></pagination-controls>
      </div>
    </div>
  </div>
</div>