<div class="row p-5">
  <div class="col-xl-4 col-sm-11 mt-sm-5">
    <div class="card shadow-sm">
      <div class="card-header p-3 pt-2">
        <div class="icon1 rounded-4 shadow-sm p-3">
          <i class="fa-regular fa-newspaper"></i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 ">Stories</p>
          <h4 class="mb-0">400</h4>
        </div>
      </div>
      <div class="line"> </div>
      <div class="card-footer p-3">
        <p class="mb-0"><span class="text-success text-sm fw-bolder">+5% </span>than yesterday</p>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-sm-11 mt-sm-5">
    <div class="card shadow-sm">
      <div class="card-header p-3 pt-2">
        <div class="icon2 rounded-4 shadow-sm p-3">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 ">Users</p>
          <h4 class="mb-0">300</h4>
        </div>
      </div>
      <div class="line"> </div>
      <div class="card-footer p-3">
        <p class="mb-0"><span class="text-success text-sm fw-bolder">+10% </span>than yesterday</p>
      </div>
    </div>
  </div>

  <div class="col-xl-4 col-sm-11 mt-sm-5 ">
    <div class="card shadow-sm">
      <div class="card-header p-3 pt-2">
        <div class="icon3 rounded-4 shadow-sm p-3">
          <i class="fa-regular fa-keyboard"></i>
        </div>
        <div class="text-end pt-1">
          <p class="text-sm mb-0 ">topics</p>
          <h4 class="mb-0">100</h4>
        </div>
      </div>
      <div class="line"> </div>
      <div class="card-footer p-3">
        <p class="mb-0"><span class="text-success text-sm fw-bolder">+55% </span>than yesterday</p>
      </div>
    </div>
  </div>

</div>

<div class="row mb-5">
  <app-table-stories></app-table-stories>
</div>


<!-- <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDisabled" disabled>
    <label class="form-check-label" for="flexSwitchCheckDisabled">Disabled switch checkbox input</label>
  </div>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckCheckedDisabled" checked disabled>
    <label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Disabled checked switch checkbox input</label>
  </div> -->
