input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
}

.save-button-color {
  background-color: var(--buttonColor);
  width: 6rem;
  color: white;
  border: none;
  height: 2.5rem;
}
select,
input,
table {
  border: 1px solid rgb(176, 174, 174);
}
