<div class="container">
  <div class="border-end">
    <div class="card">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
            role="tab" aria-controls="home" aria-selected="true" (click)="allStories()">
            For you
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="list-tab" data-bs-toggle="tab" data-bs-target="#list" type="button" role="tab"
            aria-controls="list" aria-selected="false" (click)="followingStories()">
            Following
          </button>
        </li>
      </ul>

      <div class="card-body">
        <ng-container *ngIf="isAllStories == true"><app-all-of-stories></app-all-of-stories></ng-container>
        <ng-container *ngIf="isFollowingStories == true"><app-stories-of-following></app-stories-of-following></ng-container>
      </div>
    </div>
  </div>
</div>
