<div class="content-article">
  <div class="card mb-3 p-3 border-bottom" *ngFor="let story of stories ">
    <div class="row g-0">
      <div class="col-md-9">
        <div class="card-body">
          <div class="profile mb-1 d-flex">
            <a [routerLink]="['/UserProfile',1]">
              <img src="https://localhost:44303{{story.publisherPhotoUrl}}" alt="image-prfile"
                class="img-profile me-3"></a>
            <a [routerLink]="['/UserProfile',story.publisherID]">{{story.publisherName}}</a>
          </div>
          <a [routerLink]="['/ArticlePage',story.id]" class="text-decoration-none text-dark">
            <h5 class="card-title">{{story.title}}</h5>
            <p class="card-text text-muted  text-truncate">{{story.content}}</p>
          </a>
          <div class="card-text">
            <small class="text-body-secondary me-2">{{story.creationDate |date }}</small>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <a routerLink="/ArticlePage">
          <img src="https://localhost:44303{{story.storyMainPhoto}}" class="img-fluid " alt="...">
        </a>
      </div>
    </div>
  </div>
</div>