<div class="content-article">

  <div class=" mb-3 mt-5">
    <div class="g-0 d-flex justify-content-between align-items-center">
      <div class="">
        <div class="card-body">
          <div class="profile d-flex">
            <a href="#">
              <img src="https://th.bing.com/th/id/OIP._6kSqsTmX5o4yeSjGnw48AHaLH?pid=ImgDet&rs=1" alt="image-prfile"
                class="img-profile me-3"></a>
            <!-- <a href="/profile">dina Aboelsoaud</a>

            <p class="card-text"><a href="/write">My story and practical tips to help you get out of burnout</a></p> -->

          </div>
          <!-- <p class="card-text"><a href="/write">My story and practical tips to help you get out of burnout</a></p> -->
        </div>

      </div>
      <div class="profile" style="width: 85%;">
        <a href="#">Hadeel Hamam</a>
        <p class="card-text"><a href="#">My story and practical tips to help you get out of burnout</a></p>
      </div>
      <div class="">
        <button class="btn btn-outline-success">Follow</button>
        <!-- <button class="btn btn-outline-secondary">UnFollow</button> -->
      </div>
    </div>

  </div>

  <div class=" mb-3 mt-5">
    <div class="g-0 d-flex justify-content-between align-items-center">
      <div class="">
        <div class="card-body">
          <div class="profile d-flex">
            <a href="#">
              <img src="https://th.bing.com/th/id/OIP._6kSqsTmX5o4yeSjGnw48AHaLH?pid=ImgDet&rs=1" alt="image-prfile"
                class="img-profile me-3"></a>
            <!-- <a href="/profile">dina Aboelsoaud</a>

            <p class="card-text"><a href="/write">My story and practical tips to help you get out of burnout</a></p> -->

          </div>
          <!-- <p class="card-text"><a href="/write">My story and practical tips to help you get out of burnout</a></p> -->
        </div>

      </div>
      <div class="profile" style="width: 85%;">
        <a href="#">Mahmoud Mohamed</a>
        <p class="card-text"><a href="#">My story and practical tips to help you get out of burnout</a></p>
      </div>
      <div class="">
        <button class="btn btn-outline-success">Follow</button>
        <!-- <button class="btn btn-outline-secondary">UnFollow</button> -->
      </div>
    </div>

  </div>
</div>
