<div class="sidebar row flex-nowrap ">
        <div class="col-12  px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a routerLink="/dashBoard" class="nav-link align-middle px-0">
                            <i class="fa-solid fa-gauge me-2"></i><span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fa-solid fa-table me-2"></i><span class="ms-1 d-none d-sm-inline">Tables</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a routerLink="/dashBoard/users" class="nav-link px-0"> <span class="d-none d-sm-inline">Users</span></a>
                            </li>
                            <li>
                                <a routerLink="/dashBoard/articles" class="nav-link px-0"> <span class="d-none d-sm-inline">Articles</span></a>
                            </li>
                        </ul>
                    </li>
             
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fa-brands fa-wpforms me-2"></i><span class="ms-1 d-none d-sm-inline">Froms</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a routerLink="/dashBoard/createTopic" class="nav-link px-0"> <span class="d-none d-sm-inline">topic</span></a>
                                <a routerLink="/dashBoard/createRole" class="nav-link px-0"> <span class="d-none d-sm-inline">Role</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
