<div class="container">
  <div class="row mt-3 justify-content-center">
    <div class="col-6">
      <label for="AcademicYear" class="form-label " style="width: 45%;"> العام الأكاديمي:</label>
      <select class="form-select form-select-md " name="AcademicYear" id="AcademicYear"
        [(ngModel)]="selectedAcademicYear" (change)="onAcademicYearChange(selectedAcademicYear.id)">
        <option *ngFor="let AcademicYear of AcademicYears" [ngValue]="AcademicYear">
          {{AcademicYear.name}}</option>

      </select>
    </div>
  </div>

  <div class="row d-flex justify-content-center align-items-center mt-3" style="min-height: 70vh;">
    <div class="col-8 col-md-6 ">
      <!-- <div class="">
        <label for="AcademicYear" class="form-label " style="width: 45%;"> العام الأكاديمي:</label>
        <select class="form-select form-select-md " name="AcademicYear" id="AcademicYear"
          [(ngModel)]="selectedAcademicYear" (change)="onAcademicYearChange(selectedAcademicYear.id)">
          <option *ngFor="let AcademicYear of AcademicYears" [ngValue]="AcademicYear">
            {{AcademicYear.name}}</option>


        </select>
      </div> -->
      <div class="shadow px-5 py-4 bg-white ">
        <form [ngClass]="selectedAcademicYear?.isCurrent ?   'admin-form' : 'disabledForm'"
          [formGroup]="acceptanceSettingsForm" (submit)="onSubmit()">

          <div class="row mb-3 justify-content-between">
            <div class="">
              <label for="minimumAcceptedDistance" class="form-label">الحد الأدنى للمسافة بالكيلو متر:</label>
              <input type="text" class="form-control" id="minimumAcceptedDistance"
                formControlName="minimumAcceptedDistance" />
            </div>
          </div>

          <div class="mb-3">
            <div class="mb-3 text-center">حد تاريخ ميلاد القبول الفرقة الأولى للكليات العملية</div>
            <div class="row justify-content-between">
              <div class="col-5 d-flex align-items-center">
                <label for="pfStartBirthdate" class="form-label">من </label>
                <input value="" placeholder="dd-mm-yyyy" id="pfStartBirthdate" type="date"
                  class="form-control flex-row-reverse" aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-default" formControlName="pfStartBirthdate">
              </div>
              <div class="col-5 d-flex align-items-center">
                <label for="pfEndBirthdate" class="form-label">الى </label>
                <input id="pfEndBirthdate" type="date" class="form-control flex-row-reverse"
                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                  formControlName="pfEndBirthdate">
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="mb-3 text-center">حد تاريخ ميلاد القبول الفرقة الأولى للكيات النظرية</div>
            <div class="row justify-content-between">
              <div class="col-5 d-flex align-items-center">
                <label for="tfStartBirthdate" class="form-label">من </label>
                <input id="tfStartBirthdate" type="date" class="form-control flex-row-reverse"
                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                  formControlName="tfStartBirthdate">
              </div>
              <div class="col-5 d-flex align-items-center">
                <label for="tfEndBirthdate" class="form-label">الى </label>
                <input id="tfEndBirthdate" type="date" class="form-control flex-row-reverse"
                  aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                  formControlName="tfEndBirthdate">
              </div>
            </div>
          </div>

          <div class="row mb-3 justify-content-between">
            <div class="col-5">
              <label for="practicalFacultyRatingId" class="form-label">الحد للتقدير للكليات العملية</label>
              <select class="form-select form-select-md " id="practicalFacultyRatingId"
                formControlName="practicalFacultyRatingId">
                <option [ngValue]="4">امتياز</option>
                <option [ngValue]="3">جيد جداً</option>
                <option [ngValue]="2">جيد</option>
                <option [ngValue]="1">مقبول</option>
              </select>
            </div>

            <div class="col-5">
              <label for="theoreticalFacultyRatingId" class="form-label">الحد للتقدير للكليات النظرية</label>
              <select class="form-select form-select-md " id="theoreticalFacultyRatingId"
                formControlName="theoreticalFacultyRatingId">
                <option [ngValue]="4">امتياز</option>
                <option [ngValue]="3">جيد جداً</option>
                <option [ngValue]="2">جيد</option>
                <option [ngValue]="1">مقبول</option>
              </select>
            </div>
          </div>

          <div class="mb-3 d-flex justify-content-center" *ngIf="selectedAcademicYear?.isCurrent">
            <button type="submit" class="px-5 py-2 rounded text-white border border-none button-color"
              aria-describedby="helpId">
              {{buttonText}}
            </button>
          </div>

        </form>
      </div>
    </div>

    <div class="col-8 col-md-6 mt-3">
      <table class="table table-bordered shadow text-center align-middle">
        <thead class="thead-light table-light">
          <tr class="align-middle">
            <th scope="col">طلبات</th>
            <th scope="col">العدد الكلى</th>
            <th scope="col">المستوفيين للشروط</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">الكليات العملية</th>
            <td>{{statistics.numOfPFHousingApps}}</td>
            <td>{{statistics.numOfApplicablePFHousingApps}}</td>

          </tr>
          <tr>
            <th scope="row">الكليات النظرية</th>
            <td>{{statistics.numOfTFHousingApps}}</td>
            <td>{{statistics.numOfApplicableTFHousingApps}}</td>
          </tr>
          <tr>
            <th scope="row">البنات</th>
            <td>{{statistics.numOfFemaleHousingApps}}</td>
            <td>{{statistics.numOfApplicableFemaleHousingApps}}</td>
          </tr>
          <tr>
            <th scope="row">البنين</th>
            <td>{{statistics.numOfMaleHousingApps}}</td>
            <td>{{statistics.numOfApplicableMaleHousingApps}}</td>
          </tr>
          <tr>
            <th scope="row">الطلاب القدامى (ساكنين سابقا)</th>
            <td>{{statistics.numOfOldStudentsHousingApps}}</td>
            <td>{{statistics.numOfApplicableOldStudentsHousingApps}}</td>
          </tr>
          <tr>
            <th scope="row">طلاب الفرقة الاولى</th>
            <td>{{statistics.numOfLevelOneHousingApps}}</td>
            <td>{{statistics.numOfApplicableLevelOneHousingApps}}</td>
          </tr>
          <tr>
            <th scope="row">طلاب الحالات المرضيه</th>
            <td>{{statistics.numberOfDiseaseCasesHousingApps}}</td>
            <td>{{statistics.numberOfApplicableDiseaseCasesHousingApps}}</td>
          </tr>
          <tr>
            <th colspan="2" scope="row">العدد الكلى للمتقدمين : {{statistics.numOfTotalHousingApps}}</th>
            <th colspan="2">العدد الكلى للمستوفين للشروط : {{statistics.numOfApplicableTotalHousingApps}}</th>
          </tr>
          <tr>
            <th colspan="2" scope="row">عدد طلاب الكليات العملية بعد تطبيق النسب :
              {{statistics.numOfApplicablePFHousingAppsByPercentages}}</th>
            <th colspan="2">عدد طلاب الكليات النظرية بعد تطبيق النسب :
              {{statistics.numOfApplicableTFHousingAppsByPercentages}}</th>

          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="row justify-content-center">
    <div class="col-6 d-flex justify-content-between align-items-center">
      <button class="px-2 py-2 rounded text-white border border-none button-color h-100" data-bs-toggle="modal"
        data-bs-target="#applyAutomaticFilter" aria-describedby="helpId">تطبيق التصفية</button>
      <button class="cancel-button-color px-2 py-2 rounded text-white border border-none h-100" data-bs-toggle="modal"
      data-bs-target="#undoAutomaticFilter" aria-describedby="helpId" >الغاء
        التصفية</button>
    </div>
  </div>


  <div class="row d-flex justify-content-center align-items-center mt-3">
    <div class="col-8 col-md-9 ">
      <table class="table table-bordered shadow text-center align-middle">
        <thead class="thead-light table-light">
          <tr class="align-middle">
            <th scope="col">الطلبات</th>
            <th scope="col">المعلقة</th>
            <th scope="col">المقبولة</th>
            <th scope="col">المرفوضة</th>
            <th scope="col">قيد التقدم</th>
            <th scope="col">المستثنية</th>


          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">العدد</th>
            <td>{{statistics.numberOfPendingHousingApps}}</td>
            <td>{{statistics.numberOfApprovedHousingApps}}</td>
            <td>{{statistics.numberOfRejectedHousingApps}}</td>
            <td>{{statistics.numberOfProgressHousingApps}}</td>
            <td>{{statistics.numberOfExceptedHousingApps}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>



  <div class="modal fade" id="applyAutomaticFilter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="applyAutomaticFilterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold modal-title-color" id="applyAutomaticFilterLabel">
            تطبيق التصفية التلقائية
          </h1>
          <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body fs-5">
          هل انت متأكد من تطبيق التصفية ؟
          <br>
          سيودى هذا الى رفض بعد الطلبات وتغيير حالات بعض الطلبات
        </div>
        <div class="modal-footer">
          <button type="button" class="btn button-color text-white " (click)="applyAutomaticFilter()" data-bs-dismiss="modal">
            تطبيق الأن
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="undoAutomaticFilter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="undoAutomaticFilterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 fw-bold modal-title-color" id="undoAutomaticFilterLabel">
            الغاء التصفية التلقائية
          </h1>
          <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body fs-5">
          هل انت متأكد من الغاء التصفية ؟
          <br>
          سيودى هذا الى ارجاع جميع الطلبات الى الحالة المعلقة
        </div>
        <div class="modal-footer">
          <button type="button" class="btn cancel-button-color text-white " (click)="undoFilter()" data-bs-dismiss="modal">
            الغاء الأن
          </button>
        </div>
      </div>
    </div>
  </div>
</div>