<div class="container">
  <div class="content ">
    <h1 class="fw-bold">Refine recommendations</h1>
    <p>
      Adjust recommendations by updating what you’re following, suggestions,
      and who are follow you.
    </p>
  </div>

  <!-- Tap -->
  <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button (click)="showFollowers()" class="nav-link active" id="home-tab" data-bs-toggle="tab"
        data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
        Followers
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button (click)="showFollowing()" class="nav-link" id="list-tab" data-bs-toggle="tab" data-bs-target="#list"
        type="button" role="tab" aria-controls="list" aria-selected="false">
        Following
      </button>
    </li>

    <li class="nav-item" role="presentation">
      <button (click)="showSuggestions()" class="nav-link" id="list-tab" data-bs-toggle="tab" data-bs-target="#list"
        type="button" role="tab" aria-controls="list" aria-selected="false">
        Suggestions
      </button>
    </li>
  </ul>

  <ng-container *ngIf="followers==true"><app-user-followers></app-user-followers></ng-container>
  <ng-container *ngIf="following==true"><app-user-following></app-user-following></ng-container>
  <ng-container *ngIf="suggestions==true"><app-user-suggestions></app-user-suggestions></ng-container>


</div>