<div class="content-article">
  <div class="card mb-3 p-3 border-bottom">
    <div class="row g-0">
      <div class="col-md-9">
        <div class="card-body">
          <div class="profile mb-1 d-flex">
            <a routerLink="/Profile">
              <img src="https://th.bing.com/th/id/OIP._6kSqsTmX5o4yeSjGnw48AHaLH?pid=ImgDet&rs=1" alt="image-prfile"
                class="img-profile me-3"></a>
            <a routerLink="/Profile">Hadeel Hamam</a>
          </div>
          <h5 class="card-title"><a routerLink="">How I Got Into And Managed to Walk Away from Burnout</a></h5>
          <p class="card-text"><a>My story and practical tips to help you get out of burnout</a></p>
          <div class="card-text">
            <button class="btn rounded-pill">Arrrrrrrrrrrr </button>
            <small class="text-body-secondary ms-2">Sep 29 · 8 min read ·</small>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1" class="img-fluid mt-3 h-90"
          alt="...">
      </div>
    </div>

  </div>
</div>
