<div class="tab-pane mt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
  <div class="content-article">
    <div class="container card mb-3 p-3">
      <div class="row g-0">
        <div class="col-md-9">
          <div class="card-body">

            <h5 class="card-title"><a routerLink="">How I Got Into And Managed to Walk Away from Burnout</a>
            </h5>
            <p class="card-text"><a>My story and practical tips to help you get out of burnout</a>
            </p>
            <div class="card-text">
              <small class="text-body-secondary me-2">Sep 29 · 8 min read ·</small>
              <button class="btn px-1 py-0">Arrrrrrrrrrrr </button>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1"
            class="img-fluid  h-100" alt="...">
        </div>
      </div>
    </div>

  </div>

</div>
