<div class="tab-pane mt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
  <div class="content-article">
    <div class="container card mb-3 p-3">
      <div class="row g-0">
        <div class="col-md-9">
          <div class="card-body">
            <div class="profile mb-1 d-flex">
              <a routerLink="/UserProfile">
                <img src="https://th.bing.com/th/id/OIP._6kSqsTmX5o4yeSjGnw48AHaLH?pid=ImgDet&rs=1"
                  alt="image-prfile" class="img-profile me-3"></a>
              <a routerLink="/UserProfile">Hadeel Hamam</a>
            </div>
            <a routerLink="/ArticlePage" class="text-decoration-none text-dark">
              <h5 class="card-title">How I Got Into And Managed to Walk Away from Burnout</h5>
              <p class="card-text text-muted">My story and practical tips to help you get out of burnout</p>
            </a>
            <div class="card-text">
              <small class="text-body-secondary me-2">Sep 29 · 8 min read ·</small>
              <button class="btn rounded-pill">Arrrrrrrrrrrr </button>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <a routerLink="/ArticlePage">
            <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1" class="img-fluid "
              alt="...">
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
