.userName {
  border: none;
  border-bottom: 1px solid;
}

.userName:focus {
  border: none;
  border-color: white;
  border-bottom: 1px solid;
  outline: none
}

.profileImg {
  width: 7rem;
  padding: 0;
  height: 7rem
}

.link {
  text-decoration: none;
  color: var(--link-color);
  cursor: pointer;
}

.mainModal {
  font-size: 14px;
  margin-top: 5%;
}

.pFont{
  color: var(--Pfont-color);
}

.pFont:hover {
  color: black;
}
