<div class="container">
  <div class="row mt-5 d-flex flex-column-reverse flex-md-row">
    <div class="col-md-8 col-12 border-right">
      <router-outlet></router-outlet>
    </div>


    <!-- side Information -->
    <div class="col-12 col-md-4 border-left">
      <div class="container stickyPosition">
        <img src="{{profile.photoUrl}}" alt="image-profile" class="img-profile me-3 mb-3 profileImg" />
        <h4>{{profile.name}}</h4>
        <a routerLink="" class="pFont text-decoration-none followers">{{profile.followersCount}} Followers</a>
        <p class="text-muted mt-2">
          {{profile.bio}}
        </p>
        <ng-container *ngIf="!isMyProfile()">
          <button class="btn btn-success mt-2 rounded-pill" *ngIf="!profile.isFollowing" (click)="follow(profile.id)">
            Follow</button>
          <button class="btn btn-secondary mt-2 rounded-pill" *ngIf="profile.isFollowing"
            (click)="unFollow(profile.id)"> UnFollow</button>
        </ng-container>

        <a class="mt-3 link" data-bs-toggle="modal" data-bs-target="#staticBackdrop" *ngIf="isMyProfile()">
          Edit profile
        </a>
      </div>


      <!-- Modal -->
      <div class="modal fade mainModal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <form (ngSubmit)="onSubmit()">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">
                  Profile information
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container">

                  <p class="text-muted">Photo</p>
                  <div class="row">
                    <img src="{{profile.photoUrl}}" alt="image-prfile" class="img-profile me-3 mb-3 col-4 profileImg"
                      id="ProfileImg" />
                    <div class="col-8">
                      <label for="photo" class="btn col-4 link">Update</label>
                      <input type="file" id="photo" style="display: none" accept=".png, .jpg, .jpeg"
                        (change)="handlePhoto($event)" />
                      <button class="btn btn-outline-danger" style="border: 0">
                        Remove
                      </button>
                      <p class="col-12 text-muted">
                        Recommended: Square JPG, PNG, or GIF, at least 1,000
                        pixels per side.
                      </p>
                    </div>
                  </div>


                  <div class="row">
                    <h6>Name*</h6>
                    <input type="text" class="col-12 userName" placeholder="" name="name" [(ngModel)]="name"
                      value="{{profile.name}}" required />
                    <div class="d-flex justify-content-between">
                      <p class="text-muted">
                        Recommended: Square JPG, PNG, or GIF, at least 1,000
                        pixels per side.
                      </p>
                    </div>
                  </div>


                  <div class="row">
                    <h6>Bio</h6>
                    <!-- <input type="text" class="col-12 userName" placeholder="" name="bio" [(ngModel)]="bio"
                      value="{{profile.bio}}" required /> -->
                    <input type="text" class="col-12 userName" placeholder="" name="bio" [(ngModel)]="bio"
                      value="{{profile.bio}}" required />
                    <div class="d-flex justify-content-between">
                      <p class="text-muted">
                        Appears on your Profile and next to your stories.
                      </p>

                    </div>
                  </div>


                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger rounded-pill px-3" data-bs-dismiss="modal">
                  Cancel
                </button>
                <button type="submit" class="btn btn-success rounded-pill px-3">Save</button>

              </div>
            </div>
          </div>
        </form>
      </div>


    </div>
  </div>
</div>
