.content-input-height {
  height: 4rem;
}

.actionButton {
  background-color: transparent;
  border: none;
}

textarea.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
 border: 0.009rem solid red;
}

textarea.ng-valid.ng-touched,
select.ng-valid.ng-touched {
 border:0.009rem solid green;
}