<div class="container px-5">
  <div class="card-body">
    <div class="profile mb-1 d-flex">
      <a routerLink="/UserProfile">
        <img src="https://th.bing.com/th/id/OIP._6kSqsTmX5o4yeSjGnw48AHaLH?pid=ImgDet&rs=1" alt="image-prfile"
          class="img-profile me-3"></a>
      <a routerLink="/UserProfile">dihhna Aboelsoaud
        <br>
        <p class="text-muted">5 stories</p>
      </a>
    </div>

    <h3 class="card-title font-weight-bold">Name of ReadingList</h3>

    <hr>

    <div class="d-flex justify-content-end mt-3">
      <button type="button" class="" style="border: 0; outline: 0; background-color: transparent;">
        <i class="fa-solid fa-hands-clapping" style="font-size: 18px;"></i>
      </button>
      <button type="button" class="ms-5" style="border: 0; outline: 0; background-color: transparent;">
        <i class="fa-solid fa-bookmark" style="font-size: 18px;"></i>
      </button>
    </div>

  </div>
  <hr>


  <div class="content-article">
    <div class="card mb-3 p-3 border-bottom">
      <div class="row g-0">
        <div class="col-md-9">
          <div class="card-body">
            <div class="profile mb-1 d-flex">
              <a routerLink="/UserProfile">
                <img src="https://th.bing.com/th/id/OIP._6kSqsTmX5o4yeSjGnw48AHaLH?pid=ImgDet&rs=1"
                  alt="image-prfile" class="img-profile me-3"></a>
              <a routerLink="/UserProfile">Hadeel Hamam</a>
            </div>
            <a routerLink="/ArticlePage" class="text-decoration-none text-dark">
              <h5 class="card-title">How I Got Into And Managed to Walk Away from Burnout</h5>
              <p class="card-text text-muted">My story and practical tips to help you get out of burnout</p>
            </a>
            <div class="card-text">
              <small class="text-body-secondary me-2">Sep 29 · 8 min read ·</small>
              <button class="btn rounded-pill">Arrrrrrrrrrrr </button>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <a routerLink="/ArticlePage">
            <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1" class="img-fluid "
              alt="...">
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="content-article">
    <div class="card mb-3 p-3 border-bottom">
      <div class="row g-0">
        <div class="col-md-9">
          <div class="card-body">
            <div class="profile mb-1 d-flex">
              <a routerLink="/UserProfile">
                <img src="https://th.bing.com/th/id/OIP._6kSqsTmX5o4yeSjGnw48AHaLH?pid=ImgDet&rs=1"
                  alt="image-prfile" class="img-profile me-3"></a>
              <a routerLink="/UserProfile">Hadeel Hamam</a>
            </div>
            <a routerLink="/ArticlePage" class="text-decoration-none text-dark">
              <h5 class="card-title">How I Got Into And Managed to Walk Away from Burnout</h5>
              <p class="card-text text-muted">My story and practical tips to help you get out of burnout</p>
            </a>
            <div class="card-text">
              <small class="text-body-secondary me-2">Sep 29 · 8 min read ·</small>
              <button class="btn rounded-pill">Arrrrrrrrrrrr </button>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <a routerLink="/ArticlePage">
            <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1" class="img-fluid "
              alt="...">
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="content-article">
    <div class="card mb-3 p-3 border-bottom">
      <div class="row g-0">
        <div class="col-md-9">
          <div class="card-body">
            <div class="profile mb-1 d-flex">
              <a routerLink="/UserProfile">
                <img src="https://th.bing.com/th/id/OIP._6kSqsTmX5o4yeSjGnw48AHaLH?pid=ImgDet&rs=1"
                  alt="image-prfile" class="img-profile me-3"></a>
              <a routerLink="/UserProfile">Hadeel Hamam</a>
            </div>
            <a routerLink="/ArticlePage" class="text-decoration-none text-dark">
              <h5 class="card-title">How I Got Into And Managed to Walk Away from Burnout</h5>
              <p class="card-text text-muted">My story and practical tips to help you get out of burnout</p>
            </a>
            <div class="card-text">
              <small class="text-body-secondary me-2">Sep 29 · 8 min read ·</small>
              <button class="btn rounded-pill">Arrrrrrrrrrrr </button>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <a routerLink="/ArticlePage">
            <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1" class="img-fluid "
              alt="...">
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="content-article">
    <div class="card mb-3 p-3 border-bottom">
      <div class="row g-0">
        <div class="col-md-9">
          <div class="card-body">
            <div class="profile mb-1 d-flex">
              <a routerLink="/UserProfile">
                <img src="https://th.bing.com/th/id/OIP._6kSqsTmX5o4yeSjGnw48AHaLH?pid=ImgDet&rs=1"
                  alt="image-prfile" class="img-profile me-3"></a>
              <a routerLink="/UserProfile">Hadeel Hamam</a>
            </div>
            <a routerLink="/ArticlePage" class="text-decoration-none text-dark">
              <h5 class="card-title">How I Got Into And Managed to Walk Away from Burnout</h5>
              <p class="card-text text-muted">My story and practical tips to help you get out of burnout</p>
            </a>
            <div class="card-text">
              <small class="text-body-secondary me-2">Sep 29 · 8 min read ·</small>
              <button class="btn rounded-pill">Arrrrrrrrrrrr </button>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <a routerLink="/ArticlePage">
            <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1" class="img-fluid "
              alt="...">
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="content-article">
    <div class="card mb-3 p-3 border-bottom">
      <div class="row g-0">
        <div class="col-md-9">
          <div class="card-body">
            <div class="profile mb-1 d-flex">
              <a routerLink="/UserProfile">
                <img src="https://th.bing.com/th/id/OIP._6kSqsTmX5o4yeSjGnw48AHaLH?pid=ImgDet&rs=1"
                  alt="image-prfile" class="img-profile me-3"></a>
              <a routerLink="/UserProfile">Hadeel Hamam</a>
            </div>
            <a routerLink="/ArticlePage" class="text-decoration-none text-dark">
              <h5 class="card-title">How I Got Into And Managed to Walk Away from Burnout</h5>
              <p class="card-text text-muted">My story and practical tips to help you get out of burnout</p>
            </a>
            <div class="card-text">
              <small class="text-body-secondary me-2">Sep 29 · 8 min read ·</small>
              <button class="btn rounded-pill">Arrrrrrrrrrrr </button>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <a routerLink="/ArticlePage">
            <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1" class="img-fluid "
              alt="...">
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="content-article">
    <div class="card mb-3 p-3 border-bottom">
      <div class="row g-0">
        <div class="col-md-9">
          <div class="card-body">
            <div class="profile mb-1 d-flex">
              <a routerLink="/UserProfile">
                <img src="https://th.bing.com/th/id/OIP._6kSqsTmX5o4yeSjGnw48AHaLH?pid=ImgDet&rs=1"
                  alt="image-prfile" class="img-profile me-3"></a>
              <a routerLink="/UserProfile">Hadeel Hamam</a>
            </div>
            <a routerLink="/ArticlePage" class="text-decoration-none text-dark">
              <h5 class="card-title">How I Got Into And Managed to Walk Away from Burnout</h5>
              <p class="card-text text-muted">My story and practical tips to help you get out of burnout</p>
            </a>
            <div class="card-text">
              <small class="text-body-secondary me-2">Sep 29 · 8 min read ·</small>
              <button class="btn rounded-pill">Arrrrrrrrrrrr </button>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <a routerLink="/ArticlePage">
            <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1" class="img-fluid "
              alt="...">
          </a>
        </div>
      </div>

    </div>
  </div>


</div>
