<div class="container">
  <div class="row mt-5 d-flex flex-column-reverse flex-md-row">
    <div class="col-md-8 col-12">
      <!-- Name -->
      <div class="d-flex justify-content-between">
        <h2>Hadeel Hamam</h2>
        <!-- <div class="dropdown">
          <button (click)="myFunction()" class="dropbtn">•••</button>
          <div id="myDropdown" class="dropdown-content">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
          </div>
        </div> -->
      </div>

      <!-- Tap -->
      <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
            role="tab" aria-controls="home" aria-selected="true">Home</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="list-tab" data-bs-toggle="tab" data-bs-target="#list" type="button" role="tab"
            aria-controls="list" aria-selected="false">list</button>
        </li>
      </ul>

      <!-- Home and List  -->
      <div class="tab-content" id="myTabContent">

        <!-- Home -->
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <div class="content-article">
            <div class="container card mb-3 p-3">
              <div class="row g-0">
                <div class="col-md-9">
                  <div class="card-body">

                    <h5 class="card-title"><a href="/write">How I Got Into And Managed to Walk Away from Burnout</a>
                    </h5>
                    <p class="card-text"><a href="/write">My story and practical tips to help you get out of burnout</a>
                    </p>
                    <div class="card-text">
                      <small class="text-body-secondary me-2">Sep 29 · 8 min read ·</small>
                      <button class="btn px-1 py-0">Arrrrrrrrrrrr </button>
                    </div>
                  </div>

                </div>
                <div class="col-md-3">
                  <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1"
                    class="img-fluid  h-100" alt="...">
                </div>
              </div>
            </div>

          </div>

        </div>


        <!-- List  -->
        <div class="tab-pane fade" id="list" role="tabpanel" aria-labelledby="list-tab">
          <div class="col-12 content-article">
            <div class="card mb-3 p-3">
              <div class="row g-0">
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title"><a href="/write">How I Got Into And Managed to Walk Away from Burnout</a>
                    </h5>
                    <p class="card-text"><a href="/write">My story and practical tips to help you get out of burnout</a>
                    </p>
                    <div class="card-text">
                      <small class="text-body-secondary me-2">Sep 29 · 8 min read ·</small>
                      <button class="btn px-1 py-0">Arrrrrrrrrrrr </button>
                    </div>
                  </div>

                </div>
                <div class="col-md-4 d-flex">
                  <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1" class="h-100"
                    alt="..." style="width: 55%;">
                  <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1" class=" h-100"
                    alt="..." style="width: 30%;">
                  <img src="https://th.bing.com/th/id/OIP.UzuYMXdB3DPUnPOewhakCwHaFe?pid=ImgDet&rs=1"
                    class="img-fluid  h-100" alt="..." style="width: 15%;">
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>


    <div class=" col-12 col-md-4">
      hi
    </div>
  </div>
</div>
