<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-6 p-0">
      <div class="d-flex justify-content-around justify-content-md-between ">
        <h3 class="fw-light">Click below to start writing</h3>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
          class="btn btn-outline-primary">Publish</button>
        <!-- Modal -->
        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content p-4">
              <div class="modal-header">
                <p class="modal-title fs-5 fw-500" id="exampleModalLabel">Publishing to :{{story.publisherName}} </p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <form>
                <div class="modal-body">
                  <p>Add or change topics (up to 5) so readers know what your story is about</p>
                  <div class="div-topics  py-3 ps-2">
                    <span class="border" *ngFor="let topic of topics " [class.p-3]="topic!=='' "> {{topic}} <i
                        class="fa-solid fa-xmark"></i></span>
                    <input class="input-topic" type="text" placeholder="Add a Topic ..." [(ngModel)]="topics"
                      [value]="topics">
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" (click)="onSubmit()">Publish now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="ps-3" #editor></div>
      <div>
      </div>
    </div>
  </div>
</div>