<div class="reg-background">
  <div class="entire-div">
    <div class="container">
      <div class=" row d-flex justify-content-center align-items-center page-height-without-nav ">
        <div class="col-10 col-md-8 col-lg-4 shadow p-3 bg-body rounded my-3">
          <h3 class="modal-title d-flex justify-content-center fw-semibold">
            تغيير كلمة المرور</h3>
          <hr>
          <form [formGroup]="resetPasswordForm">
            <div class="row d-flex justify-content-center">
              <div class="col-12 mb-3">
                <label for="Password" class="form-label"> كلمة المرور الجديدة</label>
                <input type="password" class="form-control height-input-select" formControlName="password" id="Password"
                  aria-describedby="helpId" placeholder="" />
              </div>

              <div class="col-12 mb-3">
                <label for="ConfirmPassword" class="form-label"> تأكيد كلمة المرور الجديدة</label>
                <input type="password" class="form-control height-input-select" formControlName="confirmPassword"
                  id="ConfirmPassword" aria-describedby="helpId" placeholder="" />
              </div>

            </div>
            <hr>
            <div class="d-flex justify-content-center">
              <button (click)="reset()" type="submit" class=" p-2 button-color btn-style rounded text-white">
                انشاء </button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
