<div class="d-flex justify-content-center ">
    <div class=" col-12 col-md-10 mt-5 ">
  <div class="card shadow">
    <div class="card-body">
      <h4 class="card-title rounded-3 shadow-sm p-4 bg-warning "> User Table</h4>
      <div class="table-responsive mt-4">
        <table class="table user-table ">
      <thead>
        <tr class="text-center">
          <th scope="col">ID</th>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center"
          *ngFor="
            let student of Users
              | paginate
                : {
                    itemsPerPage: 6,
                    currentPage: pagination,
                    totalItems: allUsers
                  }
          "
        >
          <td scope="row">{{ student.id }}</td>
          <td>{{ student.first_name }}</td>
          <td>{{ student.last_name }}</td>
          <td>{{ student.email }}</td>
          <td>
            <a class="edite me-3"><i class="fa-solid fa-pencil"></i></a> 
            <a class="delete"><i class="fa-solid fa-trash-can"></i> </a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <pagination-controls
      (pageChange)="renderPage($event)"
    ></pagination-controls>
  </div>
  </div>
  
    </div>
  </div>
  
  
  