<div class="content-article">
  <div
    class="mb-3 mt-5"
    *ngFor="let followerNotFollowing of followersNotfollowings"
  >
    <div class="g-0 d-flex justify-content-between align-items-center">
      <div class="">
        <div class="card-body">
          <div class="profile d-flex">
            <a routerLink="/UserProfile">
              <img
                src="{{ apiServer }}{{ followerNotFollowing.photoUrl }}"
                alt="image-prfile"
                class="img-profile me-3"
            /></a>
          </div>
        </div>
      </div>
      <div class="profile" style="width: 85%">
        <a routerLink="/UserProfile">{{ followerNotFollowing.name }}</a>
        <p class="card-text text-muted text-truncate">
          {{ followerNotFollowing.bio }}
        </p>
      </div>
      <div class="">
        <button
          class="btn btn-outline-success"
          (click)="follow(followerNotFollowing.id)"
        >
          Follow
        </button>
      </div>
    </div>
  </div>
</div>
