/* You can add global styles to this file, and also import other style files */


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --Bfont-color: #6b6b6b;
  --Pfont-color: #6b6d74;
  --Hfont-color: #242424;
  --background-button-color: #f2f2f2;
  --link-color: #1c8a19;
}

.profile a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.img-profile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

.card-title a {
  color: var(--Hfont-color);
  font-weight: bold;
  text-decoration: none;
}

.card-text a {
  color: var(--Pfont-color);
  text-decoration: none;
}

.card-text button {
  color: var(--Bfont-color);
  background-color: var(--background-button-color);
  border-radius: 10px;
}

/* used in intro, login pages (Mahmoud) */
.MM {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 2px;
}

.login-space {
  width: 16px;
}

.login-button {
  background-color: transparent;
  border: none;
  color: rgb(13, 110, 253);
}

.stickyPosition {
  position: sticky;
  top: 40px
}


@import "/node_modules/bootstrap/dist/css/bootstrap.min.css"
