<div class="d-flex justify-content-center ">
  <div class="shadow p-3  col-12 col-md-6  mt-5">
    <h3 class="mb-5 ">Enter Topic Name</h3>
    <form class="w-100" (submit)="onSubmit()">
      <div class="inputbox w-100 mb-5">
        <input type="text" id="topic" name="name" [(ngModel)]="topicName" required>
        <label for="topic">Topic</label>
      </div>
      <div class="inputbox">
        <button type="submit" class="btn  btn-primary rounded-pill">Create </button>
      </div>
    </form>
  </div>
</div>
