<div class='hover' dir="ltr">
  <div class='background text-center'>
    <a href="javascript:history.back()" class="btn text-white" style="background-color: #38434a;">Back</a>

    <div class='door'>403
      <h5 class="mt-3">Access Forbidden</h5>

    </div>
    <div class='rug'></div>
  </div>

  <div class='foreground'>
    <div class='bouncer'>
      <div class='head'>
        <div class='neck'></div>
        <div class='eye left'></div>
        <div class='eye right'></div>
        <div class='ear'></div>
      </div>
      <div class='body'></div>
      <div class='arm'></div>
    </div>
    <div class='poles'>
      <div class='pole left'></div>
      <div class='pole right'></div>
      <div class='rope'></div>
    </div>
  </div>
</div>
