<div class="content-article">
  <div class="mb-3 mt-5" *ngFor="let following of followings">
    <div class="g-0 d-flex justify-content-between align-items-center">
      <div class="">
        <div class="card-body">
          <div class="profile d-flex">
            <a routerLink="/UserProfile">
              <img
                src="{{ apiServer }}{{ following.photoUrl }}"
                alt="image-prfile"
                class="img-profile me-3"
            /></a>
          </div>
        </div>
      </div>
      <div class="profile" style="width: 85%">
        <a routerLink="/UserProfile">{{ following.name }}</a>
        <p class="card-text text-muted text-truncate">
          {{ following.bio }}
        </p>
      </div>
      <div class="">
        <button
          class="btn btn-outline-secondary"
          (click)="UnFollow(following.id)"
        >
          UnFollow
        </button>
      </div>
    </div>
  </div>
</div>
